.header-profile {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #faf73a;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  
}