.new-tweet {
  width: 75%;
}

.tweet-text textarea {
  border: none;
  border-bottom: 9px solid rgb(73, 72, 72);
  background-color: #f4f1ec;
  width: 100%;
  height: 55px;
  resize: none;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.underText {
  display: flex;
  justify-content: space-between;
}

.tweet-text button {
  color: white;
  font-family: "Bungee", sans-serif;
  background-color: #4056a1;
}

.tweet-text output {
  font-family: "Bungee", sans-serif;
  color: #545149;
}

.tweet-text .counter { 
  font-family: "Bungee", sans-serif;
  color: red; 
}

 
  