.tweet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%
}

article.tweet {
  margin-top: 50px;
  margin-bottom: 50px;
  border-style: solid;
  width: 100%
}

article.tweet header {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
}

article.tweet:hover {
  box-shadow: 8px 8px #888888;
}

article.tweet .content {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  border-bottom: 5px solid black;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}
