.tweet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%
}

article.tweet {
  margin-top: 50px;
  margin-bottom: 50px;
  border-style: solid;
  width: 100%
}

article.tweet header {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
}

article.tweet:hover {
  box-shadow: 8px 8px #888888;
}

article.tweet .content {
  position: relative;
  width: 100;
  font-family: "Source Sans Pro", sans-serif;
  border: 3px solid black;
  padding: 10px;
  border-top: none;
  border-right: none;
  border-left: none;
  margin: 1em;
  word-break: break-all;
}

article.tweet footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 6px;
  padding-right: 1em;
  padding-left: 1em;;
}


.fa-heart:hover {
  color: #ffb340;
}

.fa-retweet:hover {
  color: #ffb340;
}

.fa-flag:hover {
  color: #ffb340;
}
